.env.local
.venv/
pretrained_models/
.cache/
.agents/
__pycache__/
*.py[cod]
.next/
node_modules/
tsconfig.tsbuildinfo

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
